In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

In [2]:
pokemon = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols =['Attack'], squeeze=True)
pokemon
# squeze = True powoduje, ze mamy data series a nie data frame

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

In [3]:
pokemon[[0,2,57]]

0     49
2     82
57    45
Name: Attack, dtype: int64

In [4]:
pokemon = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols =['Attack','#'], squeeze=True, index_col='#')
pokemon
# trzeba bylo dodac kolumne do usecols i na koncu index_col# trzeba bylo dodac kolumne do usecols i na koncu index_col

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [5]:
pokemon = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols =['Attack','Name'], squeeze=True, index_col='Name')
pokemon
# trzeba bylo dodac kolumne do usecols i na koncu index_col# trzeba bylo dodac kolumne do usecols i na koncu index_col

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
                        ...
Diancie                  100
DiancieMega Diancie      160
HoopaHoopa Confined      110
HoopaHoopa Unbound       160
Volcanion                110
Name: Attack, Length: 800, dtype: int64

In [6]:
pokemon['Bulbasaur']

49

In [7]:
fortune500 = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\Fortune_500_2017.csv', usecols =['Rank','Title'], squeeze=True, index_col='Rank')
fortune500.head(10)
fortune500.tail(20)

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [8]:
fortune500_v2  = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\Fortune_500_2017.csv', usecols =['Employees','Title'], squeeze=True, index_col='Title')

In [9]:
fortune500_v2

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
                       ...
Michaels Cos.           31000
Toll Brothers            4200
Yahoo                    8500
Vistra Energy            4431
ABM Industries         110000
Name: Employees, Length: 500, dtype: int64

In [10]:
fortune500_v2.get('Apple')

116000

In [11]:
fortune500_v2.loc['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Loweâ€™s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64

# dodatkowe metody DS

In [12]:
programmers = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey2018.csv',low_memory=False, usecols =['ConvertedSalary'], squeeze=True)
programmers.head(10)

0         NaN
1     70841.0
2         NaN
3         NaN
4     21426.0
5     41671.0
6    120000.0
7         NaN
8    250000.0
9         NaN
Name: ConvertedSalary, dtype: float64

In [13]:
programmers.mean()

95780.86178776571

In [14]:
programmers.median()

55075.0

In [15]:
programmers.std()

202348.21562528735

In [16]:
programmers.max()

2000000.0

In [17]:
programmers.min()

0.0

In [18]:
fortune500_v3 = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\Fortune_500_2017.csv', usecols =['Employees','Title'], squeeze=True, index_col='Title')
fortune500_v3.head(10)

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
UnitedHealth Group     230000
CVS Health             204000
General Motors         225000
AT&T                   268540
Ford Motor             201000
Name: Employees, dtype: int64

In [19]:
fortune500_v3.idxmin()

'A-Mark Precious Metals'

In [20]:
fortune500_v3.idxmax()

'Walmart'

In [21]:
fortune500_v3.get('Walmart')

2300000

In [22]:
fortune500_v3.get(fortune500_v3.idxmax())

2300000

In [23]:
fortune500_v3.loc[fortune500_v3.idxmax()]

2300000

# modyfikacja serii danych

In [24]:
surveys = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey.csv', usecols =['Salary'], squeeze=True).dropna()
surveys.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [25]:
surveys.count()

12891

In [26]:
len(surveys)

12891

In [27]:
surveysslnycrease = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey.csv', usecols =['Salary'], squeeze=True).dropna()
surveysslnycrease = surveysslnycrease * 0.03
surveysslnycrease.head()

2     3412.50
14    3000.00
17    3900.00
18    2475.00
22    3022.92
Name: Salary, dtype: float64

In [28]:
surveysAfterlncrease = surveysslnycrease + surveys
surveysAfterlncrease.head()

2     117162.50
14    103000.00
17    133900.00
18     84975.00
22    103786.92
Name: Salary, dtype: float64

In [29]:
surveyTimes = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey2018.csv', usecols =['HoursOutside'], squeeze=True, low_memory=False).dropna()
surveyTimes.head()

0             1 - 2 hours
1         30 - 59 minutes
3    Less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [30]:
surveyTimes.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

In [31]:
surveyTimes.str.lower()
surveyTimes.head()

0             1 - 2 hours
1         30 - 59 minutes
3    Less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

# .str is needed for strings modifications

In [32]:
surveyTimes.apply(lambda x : x.upper())

0                 1 - 2 HOURS
1             30 - 59 MINUTES
3        LESS THAN 30 MINUTES
4                 1 - 2 HOURS
5             30 - 59 MINUTES
                 ...
93408             1 - 2 HOURS
93416             3 - 4 HOURS
93435             1 - 2 HOURS
93442    LESS THAN 30 MINUTES
93462             1 - 2 HOURS
Name: HoursOutside, Length: 72024, dtype: object

In [41]:
def ChangeDescription(napis):
    if napis == 'Less than 30 minutes':
        return 'LESS THAN HALF HOUR'
    else:
        return napis

In [42]:
surveyTimes.apply(ChangeDescription)
surveyTimes.head()

0            1 - 2 hours
1        30 - 59 minutes
3    LESS THAN HALF HOUR
4            1 - 2 hours
5        30 - 59 minutes
Name: HoursOutside, dtype: object

In [43]:
surveyTimes = surveyTimes.apply(ChangeDescription)
surveyTimes.head()

0            1 - 2 hours
1        30 - 59 minutes
3    LESS THAN HALF HOUR
4            1 - 2 hours
5        30 - 59 minutes
Name: HoursOutside, dtype: object

# map function

In [36]:
slownik = {'PYT001':'Airbus 320','PYT002':'Boeing737','PYT003':'Airbus 321'}

In [37]:
aircrafts = pd.Series(slownik)
aircrafts

PYT001    Airbus 320
PYT002     Boeing737
PYT003    Airbus 321
dtype: object

In [38]:
filghtsList = []
for i in range(100):
    filghtsList.append(rnd.choice(aircrafts.index))
filghtsList[:5]

['PYT003', 'PYT003', 'PYT001', 'PYT003', 'PYT001']

In [39]:
flights = pd.Series(filghtsList)
flights.head()

0    PYT003
1    PYT003
2    PYT001
3    PYT003
4    PYT001
dtype: object

In [40]:
flights.map(slownik)

0     Airbus 321
1     Airbus 321
2     Airbus 320
3     Airbus 321
4     Airbus 320
         ...
95    Airbus 320
96     Boeing737
97    Airbus 320
98    Airbus 321
99    Airbus 321
Length: 100, dtype: object