In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [7]:
cities = ['London','Berlin','Warsaw','Paris']
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [8]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [9]:
primeNumbers = (2,3,5,7,11,13,17,19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [10]:
films = {'Harry Potter' : 2001,
        'Jedi':2005,
        'Actress':2010}
films

{'Harry Potter': 2001, 'Jedi': 2005, 'Actress': 2010}

In [11]:
pd.Series(films)

Harry Potter    2001
Jedi            2005
Actress         2010
dtype: int64

In [12]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [14]:
freeDays = [True,True,True,True,True,False,False]

In [17]:
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0     True
1     True
2     True
3     True
4     True
5    False
6    False
dtype: bool

In [22]:
holidays = {'New Year': '2022-01-01',
           'Easter': '2022-04-17',
           'My bd' : '2022-12-17'}

holidaysSeries = pd.Series(holidays)
holidaysSeries

New Year    2022-01-01
Easter      2022-04-17
My bd       2022-12-17
dtype: object