In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

In [2]:
numbers = [1,2,3,11,12,13]
numbers

[1, 2, 3, 11, 12, 13]

In [3]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [4]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
numSeries.where(numSeries>10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [6]:
numSeries.where(numSeries > 10, other = 0)

0     0
1     0
2     0
3    11
4    12
5    13
dtype: int64

In [7]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [8]:
numSeries.where(numSeries > 10, inplace = True)

In [9]:
numSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [10]:
numSeries.dropna(inplace = True)

In [11]:
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [12]:
numSeries.filter(items = [0,2,3,5])

3    11.0
5    13.0
dtype: float64

homework

In [13]:
age =  ['6', '7-14', '15-17', '18-24', '25-39', '40-59', '60']
incident_number = [14,334,312,5823,9491,7486,4343]
incidents = pd.Series(incident_number, age)
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [29]:
incidents.where(incidents>1000)
#incidents.where(incidents>1000).dropna()

6           NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [15]:
incident1000 = incidents.where(incidents>1000)
incident1000

6           NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [16]:
incident1000.dropna(inplace = True)

In [17]:
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [18]:
incident1000.filter(['18-24','25-39','40-59'])

18-24    5823.0
25-39    9491.0
40-59    7486.0
dtype: float64

In [19]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [20]:
incidents.where(incidents>= 1000)
incidents.dropna()

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

FILTROWANIE CD

In [21]:
a = incidents > 500
a

6        False
7-14     False
15-17    False
18-24     True
25-39     True
40-59     True
60        True
dtype: bool

In [22]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland','United Kingdom',
'Turkey','Ukraine']
energy2010 = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]
enerty2012 = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]
nameSeries = pd.Series(namesList)
enerygy2010Series = pd.Series(energy2010)
energy2012Series = pd.Series(enerty2012)

In [23]:
mean2010 = enerygy2010Series.mean()
mean2010

7779.8421052631575

In [24]:
mean2012 = energy2012Series.mean()
mean2012

7706.815789473684

In [25]:
filterAboveMean2010 = enerygy2010Series>mean2010
filterAboveMean2010

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [26]:
filterAboveMean2012 = energy2012Series>mean2012
filterAboveMean2012

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [27]:
nameSeries.where(filterAboveMean2010 & filterAboveMean2010).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [28]:
filterBelowMean2010 = enerygy2010Series < mean2010
nameSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)